body{
  background-color:#3d3d3d;
  font-family:'Samsung One';
  margin:0px;
  padding: 0px;
}

html{
  color:#fff;
}

h1{
  font-family: 'Pacifico', cursive;
  margin:auto;
  text-align: center;
}
  
#divpanda{
  max-height: 400px;
  max-width: 400px;
  padding:1em;
  margin:auto;
}

#gamepadStatusDiv{
  text-align: center;
  padding: .5em;
}

#gamepadStatusDiv{
  text-align: center;
  padding: .5em;
}

.gpconnected{
  background-color: lightgreen;
  color: darkgreen; 
  transition: color .5s ease-in, background-color .5s ease-in;
  stroke: darkgreen;
}

.gpidle{
  background-color: khaki;
  color: darkgoldenrod; 
  transition: color .5s ease-in, background-color .5s ease-in;
  stroke: darkgoldenrod;
}

#gpicon{
  max-height: 1em;
}

.purpNugIcon{
  max-height: 3.5em;
  position: absolute;
  bottom:0.5em;
  right: 0.5em;
}